@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
body{
  background:#f7f7f7;
}
.main{

  display:grid;
  grid-template-columns: minmax(20em,3fr) minmax(20em,1fr) 
}

.cards{
  display: grid;
  grid-template-columns: repeat( 3,1fr)
}